.flexible {
  display: flex;
}

.j-sb {
  justify-content: space-between;
}

.j-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.issue-list {
  padding: 0 16px;
}

.issue-card {
  border-bottom: 1px solid #e0e0e0
}